:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --display-height: calc(
        var(--tg-viewport-stable-height, 100svh) -
            var(--tg-safe-area-inset-top, 44px)
    );
}

/* Глобальные стили */
body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        box-shadow: inset 0 0 100px #f4f5f9;

        border-radius: 4px;
        border: 2px solid transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #f4f5f9;
        border-radius: 10px;
        width: 10px;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    /* Отключает нативный overscroll */
    overscroll-behavior: none;
    /* Фикс для мобильных устройств */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    width: 100svw;
    height: var(--display-height);
    padding-top: calc(
        var(--tg-content-safe-area-inset-top) + var(--tg-safe-area-inset-top)
    );
    padding-bottom: 0px;
    padding-left: var(--tg-safe-area-inset-left);
    padding-right: var(--tg-safe-area-inset-right);
}
#app .v-application, #app .v-application__wrap ,#app main {
    width: 100%;
    height: 100%;
    position: relative;
}
